body{
    background-color: brown;
 }
 /*Tipos de selctores*/
   /*selectores de etiqueta*/
   /*
   elemento{
      propiedad:valor;}
      */

   div{width: 100%;
   height: 100%; 
background: blue;}

h1{
   color: yellow;
}

header{
   margin: auto;/*para centrar la caja de forma automatica*/
   width: 200px;/*el ancho del selector o elemento*/
   height: 500px;/*el alto del selctor o elemento*/
   background: violet;/*color de fondo*/
}

section{
   margin: auto;/*para centrar la caja de forma automatica*/
   width: 200px;/*el ancho del selector o elemento*/
   height: 500px;/*el alto del selctor o elemento*/
   background: rgb(177, 130, 238);/*color de fondo*/
}




